@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.dmsans {
    font-family: 'DM Sans', sans-serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
.spacesek {
    font-family: 'Space Grotesk', sans-serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
.inter {
    font-family: 'Inter', sans-serif;
}